

.wrapper
{
    
}
.skill-item {
    padding: .5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
    background-color: var(--color-3);
    
}


.icon-item
{
    color: var(--color-2);
    font-size: 3rem;
}

.title
{
    padding: 1rem;
   
}

hr
{
    padding: .5rem;
    margin: 2rem;
}