<div class="wrapper ">
    <div class="pre-title animate__animated animate__fadeInUp animation-5 ">
        Hola! mi nombre es
    </div>
    <h1 class="title animate__animated animate__fadeInUp animation-10 text-center" #asTitle></h1>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-15 text-center">Software Developer</h2>
    <hr>
    <p class="description animate__animated animate__fadeInUp  animation-20 text-center">
        Mi viaje como desarrollador comenzó hace 3 años, donde en conjunto con la universidad y el trabajo he aprendido herramientas, técnicas, buenas prácticas y hábitos que no solo se valoran desde lo técnico, sino también desde lo humano.

    </p>
</div>

<div class="link-wrapper">
    <hr>
    <div class="links d-flex flex-wrap ">
        <div class="block col-12 col-lg-4" *ngFor="let linkObj of links let i= index;">
            <a [href]="linkObj.link" target="_blank">
                <div class="block-in animate__animated animate__fadeInUp  animation-{{25+(i*5)}}">
                    <span [innerHTML]="linkObj.icon"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="cv animate__animated animate__fadeInUp  animation-20 " data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <h3>Ver curriculum</h3>
    </div>
    <hr>

    <!-- Modal -->
    <div class="modal fade new" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="cancel">
            <i class="uil uil-times-circle" data-bs-dismiss="modal"></i>
        </div>
        <div class="modal-dialog modalWM" >


            <div class="modal-content modalWM" >
                <iframe class="pdf" src="assets/curriculum_Leandro_Almiron.pdf" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>