<!-- <img class="photo"
    src="https://avatars.githubusercontent.com/u/48962903?s=400&u=767eb640c48a2130f5719a6b1aa12a178ff25987&v=4"
    alt=""> -->
<div class="wrapper ">
    <div class="pre-title animate__animated animate__fadeInUp animation-5 ">
        Hola! mi nombre es
    </div>
    <h1 class="title animate__animated animate__fadeInUp animation-10 text-center" #asTitle></h1>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-15 text-center">software developer</h2>
    <hr>
    <p class="description animate__animated animate__fadeInUp  animation-20 text-center">
        Desde que comencé mi viaje como desarrollador hace 3 años atras en conjunto con el trabajo y las herramientas
        que me dio la universidad, no he parado de aprender.
        Soy un apacionado programador con ansias de mejorar dia a dia en mi trayecto profesional.

    </p>
</div>

<div class="link-wrapper">
    <hr>
    <div class="links d-flex flex-wrap ">
        <div class="block col-12 col-lg-4" *ngFor="let linkObj of links let i= index;">
            <a [href]="linkObj.link" target="_blank">
                <div class="block-in animate__animated animate__fadeInUp  animation-{{25+(i*5)}}">
                    <span  [innerHTML]="linkObj.icon" ></span>
                </div>
            </a>
        </div>
    </div>
    <div class="cv animate__animated animate__fadeInUp  animation-20 ">
        <h3>Ver curriculum</h3>
    </div>
    <hr>
</div>