.wrapper {
    padding: 1rem;


}

.title {
    font-size: 3rem;
}


h1,
h2 {
    margin: 0;
    padding: 0;
}

.sub-title {
    padding: 1rem 0;
}

.description {
    color: #ffffffdb;
    font-family: 'IBM', sans-serif;
    letter-spacing: 1.5px;

}

.pre-title {
    padding: 1rem 0;
    color: #ffffffdb;
    font-family: 'IBM', sans-serif;
}


.links {
    .block {
        height: 8rem;
        padding: .15rem;
        display: block;

        .block-in {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-size: 2rem;
            background-color: var(--color-3);

            &:hover {
                color: var(--color-2);
            }
        }


    }
}


.cv {

    $lg: 1920px;
    $sm: 800px;

    width: 100%;
    margin: 1rem 0 0 0;
    padding: 8rem;
    min-height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    background-color: var(--color-3);

    @media screen and (max-width: $sm) {
        padding: .5rem;
    }

    @media screen and (min-width: $lg) {
        background-color: aqua;
    }


    &:hover {
        color: var(--color-2);
        cursor: pointer;
    }
}