<div class="row">
    <h1 class="text-center">Experiencia</h1>
</div>
<div class="d-flex ">

    <div class="box col-6 container-right  ">
        <h1 style="display: inline-block;">Municipalidad Hurlingham</h1><i class="uil uil-circle"></i>
        <h3>Desarrollador full stack</h3>
        <h3>Octubre 2021 - Actualmente</h3>
        <h5>Coordinación, organización y división de tareas.</h5>
        <h5>Desarrollo front end / back end</h5>
        <h5>Mockup con enfoque ux/ui desing</h5>
        <h5>Test de software</h5>
    </div>
    <div class="col-6  "></div>

</div>

<div class="d-flex    ">
    <div class="col-6"></div>
    <div class="box col-6 container-left">
        <i class="uil uil-circle" style="display: inline-block;"></i>
        <h1 >Instituto Sagrado Corazón de Jesús</h1>
        <h3>Docente / supervisor</h3>
        <h3>Marzo 2022 - Julio 2022</h3>
        <h5>Los chicos tomaron las pasantías en la Municipalidad de Hurlingham</h5>
        <h5>Planificación de las clases</h5>
        <h5>Introducción a las tecnologías requeridas</h5>
        <h5>Trabajo final : aplicación web con geolocalización</h5>
    </div>
</div>

<div class="d-flex  ">
    <div class="box col-6 container-right ">
        <h1 style="display: inline-block;">Universidad de Hurlingham</h1><i class="uil uil-circle"></i>
        <h3>Prácticas supervisadas</h3>
        <h3>Marzo 2020 - Marzo 2021 </h3>

            <p>Las prácticas supervisadas consisten en un trabajo final para el cierre del título intermedio
                de la Licenciatura en informática. Es un proyecto real, que se realiza en la universidad o una
                entidad(empresa).</p>

    </div>
    <div class="col-6"></div>


</div>